@{
    ViewBag.Title = "联系我";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    中国上海市长宁区<br />
    虹桥路953弄<br />
    <abbr title="Phone">P:</abbr>
    15021271064
</address>

<address>
    <strong>支持:</strong>   <a href="mailto:xuweiluwx@live.com">xuweiluwx@live.com</a><br />
</address>