@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>课程平台</h1>
    <p class="lead">课程平台是一个智能化的课堂练习平台</p>
    <p><a href="@Url.Action("Login","Account")" class="btn btn-primary btn-lg">现在开始 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始 Start</h2>
        <p>
            课程平台提供了一个智能化的课堂练习平台，让教师们出题考核更方便，让同学们答题更轻松。
        </p>
        <p>
            The education platform gives you a powerful, intelligent and lightening application to make teachers set questions more conveniently and students answer questions eaiser.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Account")">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>作为老师 For teachers</h2>
        <p>
            作为老师：你可以动态添加试卷、试卷中的题目和题目选项，对试卷进行增删改查，为试卷添加测试，并对对测试时间和地点进行安排。
        </p>
        <p>
            As a teacher: you can create exam papers, questions in papers, options in questions dynamically, apply Create, Read, Edit, Read manipulation to the paper, add examinations for the papers, and arrange time and address for the examinations.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("List","Paper")">开始 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>作为学生 For students</h2>
        <p>
            作为学生：你可以自由选择所有你应当回答的试卷，并在被允许的情况下对重考，你的所有答案都将被记录，方便以后的查阅。
        </p>
        <p>
            As a student: you can choose your papers freely, and resit the exam with authorization, all your answers will be recorded in case consult later.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("List","Sheets")">开始 &raquo;</a></p>
    </div>
</div>